<section>
  <form (ngSubmit)="onSubmit()"
        [formGroup]="loginForm"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
    <mat-form-field>
      <input formControlName="email"
             matInput
             placeholder="Your email"
             required
             type="email">
      <mat-error *ngIf="loginForm.getError('required', 'email')">Field must not be empty.</mat-error>
      <mat-error *ngIf="loginForm.getError('email', 'email')">Email is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password"
             matInput
             placeholder="Your password"
             required
             type="password">
      <mat-error *ngIf="loginForm.getError('required', 'password')">Field must not be empty.</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)"
            [disabled]="loginForm.invalid"
            color="primary"
            mat-raised-button type="submit">
      Submit
    </button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
