<section class="new-training"
         fxLayout
         fxLayoutAlign="center">
  <form #form="ngForm" (ngSubmit)="onStartTraining(form)">
    <mat-card fxFlex="400px"
              fxFlex.xs="100%">
      <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && (exercises$ | async)">
          <mat-select name="exercise"
                      ngModel
                      placeholder="Choose Exercise"
                      required>
            <mat-option *ngFor="let exercise of (exercises$ | async)"
                        [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button *ngIf="exercises$ | async"
                [disabled]="form.invalid"
                color="primary"
                mat-button
                type="submit">
          Start
        </button>
        <button (click)="fetchExercises()"
                *ngIf="!(exercises$ | async)"
                color="primary"
                mat-button
                type="button">
          Fetch again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
