<mat-nav-list>
  <a (click)="onClose()"
     *ngIf="!(isAuth$ | async)"
     mat-list-item
     routerLink="/signup">
    <mat-icon>face</mat-icon>
    <span class="nav-capture">Signup</span>
  </a>
  <a (click)="onClose()"
     *ngIf="!(isAuth$ | async)"
     mat-list-item
     routerLink="/login">
    <mat-icon>input</mat-icon>
    <span class="nav-capture">Login</span>
  </a>
  <a (click)="onClose()"
     *ngIf="isAuth$ | async"
     mat-list-item
     routerLink="/training">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-capture">Training</span>
  </a>
  <a (click)="onLogout()"
     *ngIf="isAuth$ | async"
     mat-list-item>
    <mat-icon>eject</mat-icon>
    <span class="nav-capture">Logout</span>
  </a>
</mat-nav-list>
