<section class="current-training" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner [value]="progress" mode="determinate"></mat-progress-spinner>
  <h1>{{ progress }}%</h1>
  <p>Keep on going, you can do it!</p>
  <button (click)="onStop()" color="primary" mat-raised-button>Stop</button>
</section>
