<div class="past-trainings">
  <mat-form-field fxLayoutAlign="center">
    <input (keyup)="doFilter($event.target.value)"
           matInput
           placeholder="Filter"
           type="text">
  </mat-form-field>
  <table [dataSource]="dataSource"
         mat-table
         matSort>
    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
      <td *matCellDef="let element" mat-cell>{{ element.date | date }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="calories">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Calories</th>
      <td *matCellDef="let element" mat-cell>{{ element.calories | number }}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Duration</th>
      <td *matCellDef="let element" mat-cell>{{ element.duration | number }}</td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>State</th>
      <td *matCellDef="let element" mat-cell>{{ element.state }}</td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator></mat-paginator>
</div>
