<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button (click)="onToggleSidenav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">Ng Fitness</a></div>
  <div fxFlex fxHide.xs fxLayout fxLayoutAlign="flex-end">
    <ul class="nav-items" fxLayout fxLayoutGap="10px">
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth$ | async"><a routerLink="/training">Training</a></li>
      <li (click)="onLogout()"
          *ngIf="isAuth$ | async"><a>Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
