<section class="signup-form">
  <form #form="ngForm"
        (ngSubmit)="onSubmit(form)"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
    <mat-form-field>
      <input #emailInput="ngModel"
             email
             matInput
             name="email"
             ngModel
             placeholder="Your email"
             required
             type="email">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
      <mat-error *ngIf="emailInput.hasError('email')">Email is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be 6 chars at least.">
      <input #passwordInput
             matInput
             minlength="6"
             name="password"
             ngModel
             placeholder="Your password"
             required
             type="password">
      <mat-hint align="end">{{ passwordInput.value?.length }} / 6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input [matDatepicker]="picker"
             [max]="maxBirthday"
             matInput
             name="birthday"
             ngModel
             placeholder="Your birthday">
      <mat-datepicker-toggle [for]="picker"
                             matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox name="agree"
                  ngModel
                  required>Agree
    </mat-checkbox>
    <button *ngIf="!(isLoading$ | async)"
            [disabled]="form.invalid"
            color="primary"
            mat-raised-button
            type="submit">Submit
    </button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
