<div class="welcome"
     fxLayout="column"
     fxLayout.gt-sm="row"
     fxLayoutAlign="center center"
     fxLayoutGap.gt-sm="20px">
  <section>
    <h1>ACTIVITY</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>Get to know other peoplewho share your passion!</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Never stop! Dive int new challenges every day</p>
  </section>
</div>
